/* src/index.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white; /* Ensure the background is set to white or desired color */
}

.App {
  text-align: center;
}

.pet-photo {
  object-fit: cover;
}